.contain {
  text-align: center;
}
.textContainer {
  position: absolute;
  border-bottom: 2px solid black;
  transition: 0.4s ease;
  opacity: 0;
  bottom: 0;
  background: black;
}
.photo:hover {
  opacity: 0.75;
  border: 2px solid #f9f9f9;
}
.photo:hover .textContainer {
  opacity: 1;
}
/* .text {
  font-size: 15px;
} */
.tagDisplay {
  font-weight: bolder;
}
/* .contain {
  text-align: center;
  border: 2px solid black;
  margin: 5%;
}
.teamChanger {
  background: #ff1801;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid black;
}
.delete {
  color: red;
  margin: 5%;
  border: 2px solid black;
  font-size: 15px;
  font-weight: bolder;
} */
