html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Muli", sans-serif;
}
nav {
  background: black;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: #f0f0ec;
  text-decoration: none;
}
nav a:hover {
  background: #2d2926;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  display: block;
}
.pinstagramTitleDiv {
  text-align: center;
  font-size: 70px;
  letter-spacing: 38px;
}
.navBottomLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}
fieldset {
  margin: 0;
  border: 5px solid #2d2926;
  padding: 0.25%;
}
