.formGrid,
.form {
  border: 1px solid black;
  text-align: center;
  width: 400px;
  margin: 20px;
  border-radius: 3px;
  padding: 20px;
}

.formInput {
  display: flex;
  justify-content: center;
}

.submit {
  margin: 3px;
  border-radius: 2px;
}
.formTitle {
  font-size: 28px;
  font-weight: bolder;
}
.inputField {
  margin: 10% 0;
  font-size: 20px;
}
.extend {
  width: 80%;
}
